<html>
  <head>
    <title>Welcome to our website!</title>
  </head>
  <body>
    <h1>Hello {{username}},</h1>
    <p>Welcome to our website. We are excited to have you on board!</p>
    <p>Thank you for joining us.</p>
  </body>
</html>